<section class='hero container-fluid text-start'>
<div class="hero_text-box container mx-auto">
<h1  class="hero-text text-start">Менеджер фінансів</h1>
<p class="text-start">Take your money </p>
<p>under control!</p>
</div>
</section>

