<div class="category-new mb-5  d-inline-block section">
<h2 class="pb-5">Нова категорія</h2>

  <div class="operation-form">
      <%= render "form", category: @category %>
      <br>
    <div>
      <%= link_to "Назад до категорій", categories_path, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>
